// src/pages/user/index/index.scss
.home-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  max-width: 600px; 
  margin: 0 auto;

  .banner {
    height: 350rpx;
    image { width: 100%; height: 100%; }
  }

  .search-container {
    background: #fff;
    margin: 20rpx;
    padding: 30rpx;
    border-radius: 16rpx;
    box-shadow: 0 4rpx 12rpx rgba(0,0,0,0.1);

    .item {
      padding: 20rpx 0;
      border-bottom: 1rpx solid #eee;
      font-size: 28rpx;
      display: flex;
      align-items: center;
      
      input { flex: 1; margin-left: 10rpx; }
    }

    .search-btn {
      margin-top: 40rpx;
      background: #ff4500;
      color: #fff;
      border-radius: 40rpx;
    }
  }
}